:root {
    --color-primary: #001BB7;
    --color-secondary: #FF8040;
    --color-text-white: white;
    --color-text-black: black;
    --color-button-text: #BBBBBB;
    --color-light-background: #E9E9E9;
  }