.pageTextPContent {
    white-space: pre-wrap;
    text-align: justify;
}

.pageTextContainer {
    padding: 5%;
}

.word {
    cursor: pointer;
    padding: 0 2px;
    border-radius: 4px;
}

.word:hover {
    background: rgba(0,0,0,0.06);
}