.pageTextPContent {
    white-space: pre-wrap;
    text-align: justify;
    max-width: 60rem;
}

.pageTextContainer {
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.wordButton {
    all: unset;
    cursor: pointer;
    font: inherit;
    background: none;
    color: inherit;
}

.wordButton:hover {
    background: rgba(255, 128, 64, 0.15);
    border-radius: 6px;
    box-shadow: 0 0 0 2px rgba(255, 128, 64, 0.25) inset;
    padding: 0.1rem 0.5rem;
}

.wordButton:focus::after {
    content: attr(data-tooltip);
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translate(-50%, -6px);
    background: #FF8040;
    color: white;
    border-radius: 0.4rem;
    padding: 0.1rem 0.5rem;
    pointer-events: none;
    z-index: 10;

    display: block;             
    width: max-content;         
    max-width: 20rem;           
    white-space: normal;        
    overflow-wrap: anywhere;
  }

.wordWrapper {
   position: relative;
   display: inline; 
}

.sentenceHighlighted {
    background: rgba(255, 128, 64, 0.15);
    border-radius: 6px;
    box-shadow: 0 0 0 2px rgba(255, 128, 64, 0.25) inset;
    padding: 0.1rem 0.5rem;;
    /* transition: background 120ms ease; */
}

.noTranslation:focus::after{
    display: none !important;
}

