h1 {
    font-size: 4rem;
    margin: 0;
    margin-top: 1rem;
    color: #001BB7;

}

h2 {
    font-size: 2rem;
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 2rem;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
}

.sideContainer {
    width: 20%;
    display: flex;
}

.sideContainerLeft {
    justify-content: flex-start;
}

.sideContainerRight {
    justify-content: flex-end;
}

.languageSelectorMainButton {
    /* background-color: #E9E9E9; */
    background-color: transparent;
    color: #bbbbbb;
    align-items: center;
    display: flex;
    justify-content: space-between;
    box-shadow: none;
}

.languageSelectorMainButton p {
    margin: 0;
    line-height: 1;
}

.languageSelectorMainButton:hover {
    box-shadow: none;
}

.languageSelectorContainer {
    display: inline-block;
    margin: 1rem;
    align-self: flex-start;
    border-radius: 0.4rem;

    button {
        min-width: 8rem !important;
    }

    button:hover {
        box-shadow: none;
    }
}

.languageSelectorOpened {
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.2);
}

.languageSelectorOptionsWrapper {
    z-index: 100;
    display: flex;
    flex-direction: column;
}

.buttonColors {
    background-color: transparent;
    color: #bbbbbb;
}

.languageOptionButton {
    align-items: center;
    display: flex;
    justify-content: right;
    box-shadow: none;
}

.menuIcon {
    min-width: 0;
    width: 3rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 0.4rem;
    margin: 1rem;
}

.menuIcon:hover {
    color: #bbbbbb;

    svg {
        transform: scale(1.05);
    }
}

.openedMenu {
    border-radius: 0.4rem;
    padding: 0.5rem 1rem;
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 1rem;
    justify-content: left;
    display: grid;
    padding: 1rem;
    min-width: 10rem;

    button {
        all: unset;
        cursor: pointer;
        font-size: large;
        margin-top: 0.5rem;
        text-align: left;
    }

    button:hover {
        transform: scale(1.02);
    }
}

.openedMenuIcon {
    margin-bottom: 0.75rem;
    cursor: pointer;
}

.openedMenuIcon:hover {
    transform: scale(1.05);
}